.DS_Store
native-app/.DS_Store
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
.AppleDouble
.LSOverride
.idea

native-app/yarn.lock
native-app/package-lock.json

# Thumbnails
._*
# Expo
native-app/.expo
native-app/__generated__
native-app/web-build
native-app/bare-apps

# Node
native-app/node_modules
native-app/npm-debug.log
native-app/yarn-error.log

# Xcode
native-app/*.pbxuser
native-app/!default.pbxuser
native-app/*.xccheckout
native-app/*.xcscmblueprint
native-app/xcuserdata

# Android
native-app/*.apk
native-app/*.hprof
native-app/android/**/build
native-app/android/**/.cxx
native-app/android/**/local.properties
native-app/android/captures
native-app/android/expoview/libs/ReactAndroid-temp
native-app/android/versioned-react-native/packages
native-app/android/versioned-react-native/ReactAndroid
native-app/ReactAndroid-temp.aar
native-app/android/prebuiltHermes
native-app/android/versioned-abis/**/*.aar

# iOS
native-app/ios/Pods
native-app/ios/build
native-app**/ios/.xcode.env.local
native-app/ios/versioned-react-native/*/ReactNative/sdks/hermes-engine/destroot
